POSTGRES_DB=order_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5439/order_service?schema=order_service
HOST=0.0.0.0
PORT=8083
FOOD_SERVICE_URL=http://localhost:8082
USER_SERVICE_URL=http://localhost:8081
